body {
}



/*****************加载提示********************/
.RAMsgHost {
    width: 100%;
    position:fixed;
    top:10px;
    z-index: 999999;
    
}

    .RAMsgHost .RAMsg {
        width: 270px;
        height: 30px;
        background-color: #F9EDBE;
        border: solid 1px #F0C36D;
        margin: auto;
        z-index: 999999;
        border-radius: 5px;
        display:none;
    }

        .RAMsgHost .RAMsg .Context span.load_ok {
            background-image: url(../../Images/Com/load_ok.png);
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 25px;
            display: inline-block;
        }

        .RAMsgHost .RAMsg .Context span.load_ing {
            background-image: url(../../Images/Com/load_ing.gif);
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 25px;
            display: inline-block;
        }

        .RAMsgHost .RAMsg .Context span.load_error {
            background-image: url(../../Images/Com/load_error.png);
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 25px;
            display: inline-block;
        }

        .RAMsgHost .RAMsg .Context {
            display: block;
            height: 30px;
            width: 265px;
            line-height: 30px;
            text-align: center;
            margin: auto;
        }

        .RAMsgHost .RAMsg a {
            display: none;
        }
