@{
    Layout = "~/Views/Manage/Master.cshtml";
    ViewBag.Title = "自定义菜单";
}
@section Head_Style   {
    <style type="text/css">
        .device {
            border: 1px solid #e7e7eb;
            height: 580px;
            position: relative;
            width: 320px;
            float: left;
            margin-right: 10px;
            background: url(../Content/Images/Manage/bg_mobile_head.png) no-repeat scroll 0 0;
        }

            .device .menu {
                position: absolute;
                bottom: 0;
                left: 0;
                line-height: 50px;
                border-top: 1px solid #e7e7eb;
                background: url(../Content/Images/Manage/bg_mobile_foot.png) no-repeat scroll 0 0;
                width: 320px;
                height: 50px;
            }

                .device .menu ul {
                    padding-left: 43px;
                }

                    .device .menu ul li {
                        list-style: none;
                        float: left;
                        width: 100%;
                        text-align: center;
                        cursor: pointer;
                        color: #616161;
                        border-right: 1px solid #e7e7eb;
                        box-sizing: border-box;
                    }

                        .device .menu ul li.selected {
                            border: 1px solid #44b549;
                        }

                        .device .menu ul li:last-child {
                            border-width: 0;
                        }

                        .device .menu ul li.of3:last-child {
                            border-width: 1px;
                        }

                        .device .menu ul li.of2 {
                            width: 50%;
                        }

                        .device .menu ul li.of3 {
                            width: 33.33%;
                        }

                        .device .menu ul li .add_icon, .device .subMenu ul li .add_icon {
                            margin-right: 5px;
                            display: inline-block;
                            height: 14px;
                            margin-top: -2px;
                            vertical-align: middle;
                            width: 14px;
                            background: url(../Content/Images/Manage/index_z2a7519.png) no-repeat scroll 0 0;
                        }

            .device .subMenu {
                position: absolute;
                bottom: 60px;
                left: 43px;
                width: 277px;
            }

                .device .subMenu .subMenuBox {
                    position: relative;
                    display: none;
                }

                    .device .subMenu .subMenuBox.of2 {
                        width: 50%;
                    }

                    .device .subMenu .subMenuBox.of3 {
                        width: 33.33%;
                    }

                    .device .subMenu .subMenuBox ul {
                        overflow: hidden;
                        border: 1px solid #e7e7eb;
                    }

                        .device .subMenu .subMenuBox ul li {
                            line-height: 50px;
                            height: 50px;
                            text-align: center;
                            border-bottom: 1px solid #e7e7eb;
                            cursor: pointer;
                        }

                            .device .subMenu .subMenuBox ul li:last-child {
                                border-bottom: none;
                            }

                            .device .subMenu .subMenuBox ul li.selected {
                                border: 1px solid #44b549;
                            }

                    .device .subMenu .subMenuBox span {
                        line-height: 0;
                        position: absolute;
                        left: 50%;
                        width: 0;
                        vertical-align: super;
                        height: 0;
                        display: inline-block;
                        border: 6px solid #d0d0d0;
                        border-color: #d6d6d6 transparent transparent transparent;
                    }

        .edit {
            overflow: hidden;
            background-color: #f4f5f9;
            border: 1px solid #e7e7eb;
        }

            .edit .item {
                margin: 10px;
                padding: 10px;
            }

                .edit .item.title {
                    border-bottom: 1px solid #e7e7eb;
                }

                    .edit .item.title a {
                        float: right;
                    }

                .edit .item p {
                    color: #8d8d8d;
                    padding-left: 70px;
                }

                .edit .item input[type="text"], .edit .item select {
                    border: 1px solid #ddd;
                    line-height: 22px;
                    padding: 2px;
                }

                .edit .item.detail_content {
                    background-color: #fff;
                    border: 1px solid #e7e7eb;
                }

                    .edit .item.detail_content .msg_content {
                        width: 320px;
                        border: 1px solid #e7e7eb;
                        margin: 10px;
                        padding: 10px;
                        display: none;
                        position: relative;
                    }

                    .edit .item.detail_content .item {
                        margin: 0;
                        padding: 0;
                    }

                    .edit .item.detail_content h3 {
                        font-weight: normal;
                        border-bottom: 1px solid #e7e7eb;
                        line-height: 30px;
                    }

                    .edit .item.detail_content .msg_bd {
                        overflow: hidden;
                    }

                    .edit .item.detail_content .media_cover {
                        border: 2px dashed #e7e7eb;
                        width: 240px;
                        margin: 20px;
                        text-align: center;
                    }

                        .edit .item.detail_content .media_cover .create_access {
                            padding: 42px 0;
                            display: inline-block;
                        }

                            .edit .item.detail_content .media_cover .create_access a {
                                outline: none;
                            }

                            .edit .item.detail_content .media_cover .create_access .icon_add {
                                display: inline-block;
                                height: 36px;
                                vertical-align: middle;
                                width: 36px;
                                background: url("../Content/Images/Manage/base_z2b638f.png") no-repeat scroll 0 -2960px;
                            }

                            .edit .item.detail_content .media_cover .create_access b {
                                display: block;
                                color: #8d8d8d;
                                font-weight: normal;
                            }

        .popWindow {
            display: none;
            width: 960px;
            height: 600px;
            position: fixed;
            left: 50%;
            top: 50%;
            margin-left: -480px;
            margin-top: -300px;
            background-color: #fff;
            z-index: 999;
            overflow: auto;
        }

            .popWindow .dialog_hd {
                background-color: #f4f5f9;
                line-height: 50px;
                padding: 0 20px;
            }

                .popWindow .dialog_hd h3 {
                    font-weight: normal;
                }

                .popWindow .dialog_hd a {
                    float: right;
                }

            .popWindow .dialog_bd {
                height: 500px;
                overflow-y: auto;
            }

            .popWindow ul {
            }

                .popWindow ul li {
                    padding: 10px;
                    border: 1px solid #e7e7eb;
                    width: 30%;
                    overflow: hidden;
                    float: left;
                    margin: 10px;
                    position: relative;
                }

                    .popWindow ul li:hover {
                    }

                    .popWindow ul li .title, .edit .item.detail_content .title {
                        position: relative;
                    }

                        .popWindow ul li .title img, .edit .item.detail_content .title img {
                            background-size: cover;
                            max-height: 160px;
                            width: 100%;
                        }

                        .popWindow ul li .title p, .edit .item.detail_content .title p {
                            position: absolute;
                            bottom: 0;
                            color: #fff;
                            width: 100%;
                            line-height: 30px;
                            background: rgba(0,0,0,0.5);
                            padding: 0 10px;
                            box-sizing: padding-box;
                        }

                    .popWindow ul li .item, .edit .item.detail_content .item {
                        overflow: hidden;
                        margin-top: 10px;
                        border-top: 1px solid #e7e7eb;
                    }

                        .popWindow ul li .item span, .edit .item.detail_content .item span {
                            padding-top: 30px;
                            display: table-cell;
                        }

                        .popWindow ul li .item img, .edit .item.detail_content .item img {
                            float: right;
                            width: 78px;
                            height: 78px;
                            margin-top: 10px;
                        }

                    .popWindow ul li .msg_mask, .edit .item.detail_content .msg_content .msg_mask {
                        position: absolute;
                        background: rgba(0,0,0,0.7);
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        display: none;
                        cursor: pointer;
                    }

                        .popWindow ul li .msg_mask i, .edit .item.detail_content .msg_content .msg_mask i {
                            left: 50%;
                            line-height: 999em;
                            margin-left: -23px;
                            margin-top: -23px;
                            overflow: hidden;
                            position: absolute;
                            top: 50%;
                            z-index: 1;
                            background: url("../Content/Images/Manage/base_z2b638f.png") no-repeat scroll 0 -6551px;
                            display: inline-block;
                            height: 46px;
                            vertical-align: middle;
                            width: 46px;
                        }

                        .edit .item.detail_content .msg_content .msg_mask i {
                            background-position: 0 -6690px;
                        }

            .popWindow .dialog_ft {
                height: 50px;
                text-align: center;
                background-color: #f4f5f9;
                line-height: 50px;
                padding: 0 20px;
            }
    </style>
}

@section Head_Js{
    <script type="text/javascript">
        var g_menuJson = @ViewData["MenuJsonData"];
        var g_menuData = [];       //菜单数据
        var g_currentMainId = 0;   //当前点击的主菜单索引
        var g_currentSubId = 0;      //当前点击的子菜单索引

        //加载主菜单
        function loadMainMenu(isEdit)   //isEdit是否是删除菜单后重新执行加载
        {

            if (g_menuJson && g_menuJson.menu && g_menuJson.menu.button && g_menuJson.menu.button.length > 0)
            {
                var mainUlObj = $(".menu ul");
                mainUlObj.html("");
                var mainMenuHtml = "";
                if (isEdit == undefined || !isEdit)
                {
                    g_menuData = g_menuJson.menu.button;
                }
                var itemCount = g_menuData.length;
                var className = "";
                switch (itemCount)
                {
                    case 1:
                        className = "of2";
                        break;
                    case 2:
                    case 3:
                        className = "of3";
                        break;
                    default:
                        break;

                }
                for (var i = 0; i < itemCount; i++)
                {
                    mainMenuHtml += "<li id='main_" + (i + 1) + "' class='" + className + "'>" + g_menuData[i].name + "</li>";
                }
                mainUlObj.prepend(mainMenuHtml);
                mainUlObj.children("li").click(function ()
                {
                    editMainMenu(this);
                    showSubMenu(this);
                    loadSubMenu(this);
                });

                if (g_menuData.length < 3)
                {

                    mainUlObj.append("<li class='" + className + "'><i class='add_icon'></i></li>");
                    mainUlObj.children("li:last").click(function ()
                    {
                        addMainMenuListener(this);
                    });
                }

            }
        }

        //添加主菜单
        function addMainMenuListener(obj)
        {
            // $(".menu ul li").click(function ()
            // {
            var itemCount = g_menuData.length;
            if (itemCount < 3)
            {
                var id = "main_" + (g_menuData.length + 1);
                g_menuData.push({ name: "菜单名称", type: "media_id", media_id: "", sub_button: [] });
                switch (itemCount)
                {
                    case 0:
                        $(obj).attr("class", "of2")
                        // $(this).siblings("li").attr("class", "of2");
                        $(this).before("<li id='" + id + "' class='of2 selected'>菜单名称</li>");

                        break;
                    case 1:
                        $(obj).attr("class", "of3")
                        $(obj).siblings("li").attr("class", "of3");
                        $(obj).before("<li id='" + id + "' class='of3 selected'>菜单名称</li>");
                        break;
                    case 2:
                        $(obj).siblings("li").attr("class", "of3");
                        $(obj).before("<li id='" + id + "' class='of3 selected'>菜单名称</li>");
                        $(obj).remove();
                        break;
                    default:
                        break;
                }
                //showSubMenu(this);
                $("#" + id).click(function ()
                {
                    editMainMenu(this);
                    showSubMenu(this);
                    loadSubMenu(this);
                }
                );

                $("#" + id).click();
            }
            // });
        }

        //添加子菜单
        function addSubMenuListener(obj)
        {
            var itemCount = g_menuData[g_currentMainId - 1].sub_button.length;
            if (itemCount < 5)
            {
                var id = "sub_" + g_currentMainId + "_" + (itemCount + 1);
                g_menuData[g_currentMainId - 1].sub_button.push({ key: id, name: id, type: "", mediaid: "", url: "" });
                $(obj).siblings("li").removeClass("selected");
                $(obj).before("<li id='" + id + "' class='selected'>" + id + "</li>");
                $("#" + id).click(function ()
                {
                    editSubMenu(this);

                });
                if (itemCount >= 4)
                {
                    $(obj).remove();
                }

                $("#" + id).click();
            }

        }



        //显示子菜单布局
        function showSubMenu(obj)
        {
            var id = $(obj).attr("id");
            $(obj).siblings("li").removeClass("selected");
            $(obj).addClass("selected");
            var subMenu = $(".subMenuBox");
            var mainMenuLength = $("#" + id).siblings("li").length;
            if (mainMenuLength == 1)
            {
                subMenu.addClass("of2");
                g_currentMainId = 1;
                g_currentSubId = 0;
            }
            else if (mainMenuLength == 2)
            {
                if (id.indexOf("1") >= 0)
                {
                    subMenu.css("left", "0");
                    g_currentMainId = 1;
                    g_currentSubId = 0;
                }
                else if (id.indexOf("2") >= 0)
                {
                    subMenu.css("left", "33.33%");
                    g_currentMainId = 2;
                    g_currentSubId = 0;
                }
                else
                {
                    subMenu.css("left", "66.66%");
                    g_currentMainId = 3;
                    g_currentSubId = 0;
                }
                subMenu.addClass("of3");
            }
            subMenu.show();
        }

        //加载子菜单
        function loadSubMenu(obj)
        {
            var subUlObj = $(".subMenuBox ul");
            subUlObj.empty();
            //var id = $(obj).attr("id");
            if (g_menuData.length > 0)
            {
                var subMenu = g_menuData[g_currentMainId - 1].sub_button;
                var subMenuHtml = "";
                if (subMenu.length > 0)
                {
                    var id = "";
                    for (var i = 0; i < subMenu.length; i++)
                    {
                        id = "sub_" + g_currentMainId + "_" + (i + 1);
                        subMenuHtml += "<li id='" + id + "'>" + subMenu[i].name + "</li>";
                    }
                }

                subUlObj.prepend(subMenuHtml);
                subUlObj.children("li").click(function ()
                {
                    editSubMenu(this);
                });
                if (subMenu.length < 5)
                {
                    subUlObj.append("<li><i class='add_icon'></i></li>");
                    subUlObj.children("li:last").click(function ()
                    {
                        addSubMenuListener(this);
                    });
                }
            }
        }

        //编辑主菜单
        function editMainMenu(obj)
        {
            $("#hasSub").show();
            $("#material_detail_box").hide();
            var id = $(obj).attr("id");
            var indexArray = id.split("_");
            if (g_menuData && g_menuData.length > 0)
            {
                var selectedMenuData;
                if (indexArray.length == 2)
                {
                    selectedMenuData = g_menuData[indexArray[1] - 1];
                    if (selectedMenuData && selectedMenuData != undefined)
                    {
                        $("#menuName").val(selectedMenuData.name);
                        if (selectedMenuData.sub_button.length <= 0)  //没有子菜单
                        {
                            var type = selectedMenuData.type;
                            $("#menuType").val(type);
                            if (type == "media_id")
                            {
                                $("#res_1").show();
                                $("#res_2").hide();
                                $("#menuMediaId").val(selectedMenuData.media_id);
                                getMaterialDetail(selectedMenuData.media_id);
                            }
                            else if (type == "view")
                            {
                                $("#res_1").hide();
                                $("#res_2").show();
                                $("#menuUrl").val(selectedMenuData.url);
                            }
                            else if (type == undefined || type == "")
                            {
                                //$("#hasSub").hide();
                                $("#res_1").show();
                                $("#res_2").hide();
                                $("#material_detail_box").show();
                                $("#material_detail").hide();
                                $("#material_detail_cover").show();
                            }
                        }
                        else
                        {
                            $("#hasSub").hide();
                        }
                    }
                }
            }

        }

        //编辑子菜单
        function editSubMenu(obj)
        {
            $("#hasSub").show();
            $("#material_detail_box").hide();
            $("#main_" + g_currentMainId).removeClass("selected");
            $(obj).siblings("li").removeClass("selected");
            $(obj).addClass("selected");
            //alert($(obj).attr("id"));
            var id = $(obj).attr("id");
            var indexArray = id.split("_");
            if (g_menuData && g_menuData.length > 0)
            {
                g_currentSubId = indexArray[2];
                var selectedMenuData;
                if (indexArray.length == 3)
                {
                    selectedMenuData = g_menuData[indexArray[1] - 1].sub_button[indexArray[2] - 1];
                }
                if (selectedMenuData && selectedMenuData != undefined)
                {
                    var type = selectedMenuData.type;
                    $("#menuName").val(selectedMenuData.name);
                    $("#menuType").val(type);
                    if (type == "media_id")
                    {
                        $("#res_1").show();
                        $("#res_2").hide();
                        $("#menuMediaId").val(selectedMenuData.media_id);
                        getMaterialDetail(selectedMenuData.media_id);
                    }
                    else if (type == "view")
                    {
                        $("#res_1").hide();
                        $("#res_2").show();
                        $("#menuUrl").val(selectedMenuData.url);
                    }

                }
            }

        }

        //切换菜单类型
        function setMenuType(selectType)
        {
            if (selectType == "media_id")
            {
                $("#res_1").show();
                $("#res_2").hide();
                var type;
                if (g_currentSubId > 0)
                {
                    type = g_menuData[g_currentMainId - 1].sub_button[g_currentSubId - 1].type;
                }
                else
                {

                    type = g_menuData[g_currentMainId - 1].type;
                }
                if (type == "view")
                {
                    $("#material_detail").hide();
                    $("#material_detail_cover").show();
                }
                $("#material_detail_box").show();
            }
            else if (selectType == "view")
            {
                $("#res_1").hide();
                $("#res_2").show();
                $("#menuUrl").val("");
                $("#material_detail_box").hide();
            }

        }

        //拉取菜单列表
        function getMaterialList()
        {
            var d = new Date();
            $.ajax({
                url: "GetMaterialList?t=" + d.getTime(),
                type: 'POST',
                async: true,
                dataType: 'json',
                contentType: 'application/json',
                timeout: 10000,
                cache: true,
                data: JSON.stringify({ type: "news", offset: 0, count: 10 }),
                success: function (data)
                {
                    data = JSON.parse(data);
                    if (data.item && data.item.length > 0)
                    {
                        var materialHtml = "";
                        for (var i = 0; i < data.item.length; i++)
                        {
                            materialHtml += "<li id='" + data.item[i].media_id + "' onmouseover='showOrHideItemMask(event,this)' onmouseout='showOrHideItemMask(event,this)'>";
                            var newsItem = data.item[i].content.news_item;
                            if (newsItem && newsItem.length > 0)
                            {
                                materialHtml += "<div class='msg_content'>";
                                for (var j = 0; j < newsItem.length; j++)
                                {
                                    if (j == 0)
                                    {
                                        materialHtml += "<div class='title'>";
                                        materialHtml += "<img src='' id='" + newsItem[j].thumb_media_id + "'/>";
                                        materialHtml += "<p>" + newsItem[j].title + "</p>";
                                        materialHtml += "</div>";
                                    }
                                    else
                                    {
                                        materialHtml += "<div class='item'>";
                                        materialHtml += "<img src='' id='" + newsItem[j].thumb_media_id + "'/>";
                                        materialHtml += "<span>" + newsItem[j].title + "</span>";
                                        materialHtml += "</div>";
                                    }

                                    loadImage(newsItem[j].thumb_media_id, false);
                                }
                                materialHtml += "</div>";
                                materialHtml += "<div class='msg_mask'  onclick=\"updateMenuData(this,1,'media_id')\"><i class='icon_select'></i></div>";
                            }
                            materialHtml += "</li>";
                        }
                        $(".dialog_bd ul").html(materialHtml);
                        $(".popWindow").show();
                        $("#maskLayout").show();
                    }
                },
                error: function (data)
                {
                }
            });
        }

        //加载图片
        function loadImage(thumb_media_id, isDetail)
        {
            if (thumb_media_id && thumb_media_id != "")
            {
                var d = new Date();
                $.ajax({
                    url: "GetImageById?t=" + d.getTime(),
                    type: 'POST',
                    async: true,
                    //dataType: 'json',
                    contentType: 'application/json',
                    timeout: 10000,
                    cache: true,
                    data: JSON.stringify({ media_id: thumb_media_id }),
                    success: function (data)
                    {
                        //alert(data);
                        let id = thumb_media_id;
                        if (isDetail)
                        {
                            id = "detail_" + id;
                        }
                        $("#" + id).attr("src", data);
                    },
                    error: function (data)
                    {
                    }
                });
            }
        }

        //拉去菜单明细
        function getMaterialDetail(media_id)
        {
            if (media_id && media_id != undefined && media_id != "")
            {
                var d = new Date();
                $.ajax({
                    url: "GetMaterialDetail?t=" + d.getTime(),
                    type: 'POST',
                    async: true,
                    dataType: 'json',
                    contentType: 'application/json',
                    timeout: 10000,
                    cache: true,
                    data: JSON.stringify({ media_id: media_id }),
                    success: function (data)
                    {
                        // alert(data);
                        if (data && data != "" && data.news_item.length > 0)
                        {
                            var conetentHtml = "";
                            for (var i = 0; i < data.news_item.length; i++)
                            {
                                if (i == 0)
                                {
                                    conetentHtml += "<div class='title'>";
                                    conetentHtml += "<img  src=''  id='detail_" + data.news_item[i].thumb_media_id + "'/>";
                                    conetentHtml += "<p>" + data.news_item[i].title + "</p>";
                                    conetentHtml += "</div>";
                                }
                                else
                                {
                                    conetentHtml += "<div class='item'>";
                                    conetentHtml += "<img src='' id='detail_" + data.news_item[i].thumb_media_id + "'/>";
                                    conetentHtml += "<span>" + data.news_item[i].title + "</span>";
                                    conetentHtml += "</div>";
                                }
                                loadImage(data.news_item[i].thumb_media_id, true);
                            }
                            conetentHtml += "<div class='msg_mask' onclick=\"updateMenuData(this,0,'media_id')\"><i class='icon_select'></i></div>";
                            $("#material_detail_box").show();
                            $("#material_detail").html(conetentHtml);
                            $("#material_detail").show();
                            $("#material_detail_cover").hide();
                        }

                    },
                    error: function (data)
                    {
                    }
                });
            } else
            {
                $("#material_detail_box").show();
                $("#material_detail").hide();
                $("#material_detail_cover").show();

            }
        }


        //更新菜单数据 0-删除，1--新增，2--编辑
        function updateMenuData(obj, tag, type)
        {
            // var media_id = $(obj).attr("id");
            if (g_menuData && g_menuData.length > 0)
            {
                switch (tag)
                {
                    case 0:
                        if (g_currentSubId > 0)
                        {
                            var subItem = g_menuData[g_currentMainId - 1].sub_button[g_currentSubId - 1];
                            if (type == "media_id")
                            {
                                subItem.type = "";
                                subItem.media_id = "";
                                $("#material_detail").hide();
                                $("#material_detail").empty();
                                $("#material_detail_cover").show();
                            }
                            else if (type == "menu")
                            {
                                g_menuData[g_currentMainId - 1].sub_button.splice(g_currentSubId - 1, 1);
                                $("#sub_" + g_currentMainId + "_" + g_currentSubId).remove();
                                $("#main_" + g_currentMainId).click();
                            }
                        }
                        else
                        {
                            var mainItem = g_menuData[g_currentMainId - 1];
                            if (type == "media_id")
                            {
                                mainItem.type = "";
                                mainItem.media_id = "";
                                $("#material_detail").hide();
                                $("#material_detail").empty();
                                $("#material_detail_cover").show();
                            }
                            else if (type == "menu")
                            {
                                g_menuData.splice(g_currentMainId - 1, 1);
                                $("#main_" + g_currentMainId).remove();
                                loadMainMenu(true);
                                //var mainUlObj = $(".menu ul");
                                //var className="of"+(g_menuData.length+1);
                                //mainUlObj.append("<li class='" + className + "'><i class='add_icon'></i></li>");
                                //mainUlObj.children("li:last").click(function ()
                                //{
                                //    addMainMenuListener(this);
                                //});
                            }

                        }
                        break;
                    case 1:
                        if (g_currentSubId > 0)
                        {
                            var subItem = g_menuData[g_currentMainId - 1].sub_button[g_currentSubId - 1];
                            if (type == "media_id")
                            {
                                $(obj).parent().siblings("li").removeClass("selected");
                                $(obj).parent().siblings("li").children(".msg_mask").hide();
                                var media_id = $(obj).parent().attr("id");
                                $(obj).show();
                                $(obj).parent().attr("class", "selected");
                                delete subItem.url;
                                subItem.type = "media_id";
                                subItem.media_id = media_id;
                                $("#material_detail").html($(obj).siblings(".msg_content").html());
                                $("#material_detail").append("<div onclick=\"updateMenuData(this,0,'media_id')\" class='msg_mask' style='display: none;'><i class='icon_select'></i></div>");
                                $("#material_detail").show();
                                $("#material_detail_cover").hide();
                            }
                        }
                        else
                        {
                            var mainItem = g_menuData[g_currentMainId - 1];
                            if (type == "media_id")
                            {
                                $(obj).parent().siblings("li").removeClass("selected");
                                $(obj).parent().siblings("li").children(".msg_mask").hide();
                                var media_id = $(obj).parent().attr("id");
                                $(obj).show();
                                $(obj).parent().attr("class", "selected");
                                delete mainItem.url;
                                mainItem.type = "media_id";
                                mainItem.media_id = media_id;
                                $("#material_detail").html($(obj).siblings(".msg_content").html());
                                $("#material_detail").append("<div onclick=\"updateMenuData(this,0,'media_id')\" class='msg_mask' style='display: none;'><i class='icon_select'></i></div>");
                                $("#material_detail").show();
                                $("#material_detail_cover").hide();

                            }
                        }
                        break;
                    case 2:

                        var name = $(obj).val();
                        if (g_currentSubId > 0)
                        {
                            var subItem = g_menuData[g_currentMainId - 1].sub_button[g_currentSubId - 1];
                            if (type == "")
                            {
                                subItem.name = name;
                                $("#sub_" + g_currentMainId + "_" + g_currentSubId).text(name);
                            }
                            else if (type == "url")
                            {
                                delete subItem.media_id;
                                subItem.type = "view";
                                subItem.url = name;
                            }
                        }
                        else
                        {
                            var mainItem = g_menuData[g_currentMainId - 1];
                            if (type == "")
                            {
                                mainItem.name = name;
                                $("#main_" + g_currentMainId).text(name);
                            }
                            else if (type == "url")
                            {
                                mainItem.url = name;
                                delete mainItem.media_id;
                                mainItem.type = "view";
                                mainItem.url = name;
                            }
                        }
                        break;
                    default:
                }
            }
        }

        //更新菜单
        function updateWeChatMenu()
        {
            if (g_menuData && g_menuData.length > 0)
            {
                for (var i = 0; i < g_menuData.length; i++)
                {

                    if (g_menuData[i].sub_button && g_menuData[i].sub_button.length > 0)
                    {
                        for (var j = 0; j < g_menuData[i].sub_button.length; j++)
                        {
                            delete g_menuData[i].sub_button[j].sub_button;
                        }
                    }
                    else
                    {
                        delete g_menuData[i].sub_button;
                    }
                }
                var d = new Date();
                $.ajax({
                    url: "UpdateMenu?t=" + d.getTime(),
                    type: 'POST',
                    async: true,
                    dataType: 'json',
                    contentType: 'application/json',
                    timeout: 10000,
                    cache: true,
                    data: JSON.stringify({ menu: JSON.stringify({ button: g_menuData }) }),
                    success: function (data)
                    {

                    },
                    error: function (data)
                    {
                    }
                });

            }

        }

        //控制鼠标移入、移出图文菜单
        function showOrHideItemMask(e, obj)
        {
            e = window.event || e;
            if (!$(obj).hasClass("selected"))
            {
                if (e.type == "mouseover")
                {
                    $(obj).children(".msg_mask").show();
                }
                else
                {
                    $(obj).children(".msg_mask").hide();
                }
            }
        }




        function closePopWindow(obj)
        {
            $("#maskLayout").hide();
            $(".popWindow").hide();
        }

        //$(document).ready(addMainMenuListener);
        $(document).ready(function ()
        {
            loadMainMenu(false);
        });
    </script>
}
<div class="main_hd">
    <h2>自定义菜单</h2>
</div>
<div class="main_bd">
    <div class="device">
        <div class="menu">
            <ul></ul>
        </div>
        <div class="subMenu">
            <div class="subMenuBox">
                <ul></ul><span></span>
            </div>
        </div>
    </div>
    <div class="edit">
        <div class="item title">
            <a href="javascript:void(0)" onclick="updateMenuData(this,0,'menu')">删除菜单</a><h4>菜单名称</h4>
        </div>
        <div class="item">
            菜单名称：<input type="text" id="menuName" onchange="updateMenuData(this,2,'')" />
            <p>一级菜单名称最多为4个汉字，二级菜单最多为7个汉字</p>
        </div>
        <div id="hasSub">
            <div class="item">
                菜单类型：<select id="menuType" onchange="setMenuType(this.value)">
                    <option value="media_id">发送消息</option>
                    <option value="view">URL外链接菜单</option>
                </select>
                <p>一级菜单名称最多为4个汉字，二级菜单最多为7个汉字</p>
            </div>
            <div class="item" id="res_1">
                素材media_id：<input type="text" id="menuMediaId" />
            </div>
            <div class="item" id="res_2" style="display:none">
                页面地址：<input type="text" id="menuUrl" onchange="updateMenuData(this,2,'url')" /><p>必须http://开头</p>
            </div>
        </div>
        <div class="item detail_content" id="material_detail_box">
            <h3>图文消息</h3>
            <div class="msg_bd">
                <div class="media_cover" id="material_detail_cover">
                    <span class="create_access">
                        <a href="javascript:void(0)" onclick="getMaterialList()">
                            <i class="icon_add"></i>
                            <b>选择素材</b>
                        </a>
                    </span>
                </div>
                <div class="msg_content" id="material_detail" onmouseover="showOrHideItemMask(event,this)" onmouseout="showOrHideItemMask(event,this)">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main_ft"><input type="button" value="保存并发布" class="submitBtn" onclick="updateWeChatMenu()" /> </div>
<div class="popWindow">
    <div class="dialog_hd">
        <a href="javascript:void(0)" onclick="closePopWindow(this)">关闭</a>
        <h3>选择素材</h3>
    </div>
    <div class="dialog_bd">
        <ul></ul>
    </div>
    <div class="dialog_ft">
        <input type="button" value="确定" class="submitBtn" onclick="closePopWindow(this)" /><input type="button" value="取消" class="cancelBtn" onclick="closePopWindow(this)" />
    </div>
</div>

