.OC {
    display: block;
    height: auto;
}

.title {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0px 0px 0px 8px;
    font-weight: bold;
    border-bottom: solid #d6d6d6 1px;
    color: #757575;
}

.order {
    display: block;
    height: 60px;
    line-height: 60px;
    border-bottom: solid #cbcbcb 1px;
}

.no {
    float: left;
    height: 60px;
    line-height: 60px;
    color: #222222;
    padding: 0px 0px 0px 10px;
}

.status {
    float: right;
    height: 60px;
    line-height: 60px;
    color: #222222;
    padding: 0px 10px 0px 0px;
}

.addr {
    display: block;
    height: 60px;
    position: relative;
}

    .addr a {
        display: block;
        height: 60px;
        line-height: 60px;
        color: #222222;
        text-decoration: none;
        padding: 0px 10px 0px 10px;
    }

        .addr a i {
            font-size: 20px;
        }



    .addr .addrInfo {
        display: block;
        position: absolute;
        left: 36px;
        right: 10px;
        height: 60px;
        top: 0px;
        float: left;
    }

        .addr .addrInfo .npHost {
            height: 30px;
            display: block;
            line-height: 30px;
        }

            .addr .addrInfo .npHost .contacts {
                float: left;
                font-weight: bold;
            }

            .addr .addrInfo .npHost .phones {
                float: right;
                text-align: right;
                font-weight: bold;
            }

        .addr .addrInfo .realAddr {
            height: 30px;
            display: block;
            line-height: 30px;
            overflow: hidden;
            font-size: 12px;
            color: #757575;
        }




.merc {
    display: block;
    height: 90px;
    padding: 15px 8px 0px 8px;
    position: relative;
}

    .merc .merc_l {
        display: inline-block;
        float: left;
        width: 60px;
        height: 60px;
    }

        .merc .merc_l img {
            border: solid #d6d6d6 1px;
            width: 60px;
            height: 60px;
        }

    .merc .merc_c {
        display: block;
        float: left;
        padding: 0px 10px 0px 10px;
    }

#merc_title, #merc_spec {
    display: block;
    height: 30px;
    line-height: 30px;
    color: #222222;
    font-weight: bold;
}


#merc_spec {
    display: block;
    height: 30px;
    line-height: 30px;
    color: #757575;
}

.merc .merc_r {
    position: absolute;
    top: 0px;
    right: 8px;
    width: 60px;
    height: 100%;
    padding: 0px 8px 0px 0px;
    text-align: right;
}

#merc_price, #merc_count {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #222222;
}

.merc_st_et {
    display: block;
    line-height: 30px;
    height: 30px;
    padding: 8px 0px 8px 8px;
    border-top: solid #d6d6d6 1px;
    color: #757575;
}

    .merc_st_et span {
        color: #222222;
    }


.buy {
    height: 60px;
    position: fixed;
    display: block;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #ffffff;
    border-top: solid #cbcbcb 1px;
    padding: 0px;
    background: #FAFAFA;
    background: linear-gradient(#FAFAFA,#F4F4F4);
    box-shadow: 0 -1px 0 rgba(0,0,0,.1) inset,0 -2px 8px rgba(0,0,0,.06);
}

    .buy .buy_l {
        float: left;
        height: 100%;
    }

        .buy .buy_l a {
            color: #222222;
            font-size: 1.3rem;
            line-height: 26px;
            height: 26px;
            display: block;
            padding: 0px 0px 0px 10px;
        }

            .buy .buy_l a.buy_amount span {
                color: #ff0000;
                font-weight: bold;
            }

    .buy .buy_r {
        float: right;
        padding: 5px 10px 5px 5px;
    }


.notes {
    display: block;
    height: 80px;
    padding: 8px;
}



    .notes .comm {
        display: block;
        height: 40px;
        margin: 8px 0px 0px 0px;
        border-radius: 5px;
        border: solid 1px #d6d6d6;
        background-color: #ffffff;
        padding: 0px 8px 0px 8px;
    }

    .notes input {
        display: block;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 14px;
    }
