
@{
    ViewBag.Title = "公告详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{

    <link href="@Url.Content("~/Css/Notice/Detail.css?v=20161020")" rel="stylesheet" type="text/css" />



    <script type="text/javascript" src="@Url.Content("~/Js/Notice/Detail.js?v=20161020")">

    </script>

}
<div class="Title">加载中...</div>

<div class="Time">加载中...</div>


<div class="Content">加载中...</div>



<div class="sp"></div>

