
@{
    ViewBag.Title = "公告通知";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section Head{

    <link href="@Url.Content("~/Css/Notice/List.css?v=20161025")" r rel="stylesheet" type="text/css" />



    <script type="text/javascript" src="@Url.Content("~/Js/Notice/List.js?v=20161025")">

    </script>

}
<div id="notice" class="weui_cells weui_cells_access">


</div>
