.swiper-banner img {
    background-size: cover;
    width: auto;
    height: auto;
}

.merc_title {
    padding: 8px;
    height: 30px;
    line-height: 30px;
    padding-bottom: 0px;
    font-size: 1.6rem;
}

.sellpt {
    height: 30px;
    line-height: 30px;
    color: #cbcbcb;
}

    .sellpt, .sellpt span {
        padding-left: 10px;
        font-size: 1.2rem;
    }

.price {
    font-size: 2.0rem;
    height: 30px;
    line-height: 30px;
    color: #ff0000;
    font-weight: bold;
}

.price, price.span {
    padding-left: 10px;
}



.sellcount {
    height: 30px;
    line-height: 30px;
    padding-bottom: 8px;
    color: #cbcbcb;
}

.sellcount, sellcount.span {
    padding-left: 10px;
}

.spec-title {
    padding: 5px 0px 10px 5px;
    color: #222222;
    height: 20px;
    line-height: 20px;
}

.spec {
    display: block;
    padding-left: 20px;
    padding-bottom: 30px;
}

    .spec p {
        padding: 10px;
    }

        .spec p a {
            display: inline-block;
            padding: 2px 15px 2px 15px;
            height: 30px;
            line-height: 30px;
            color: #222222;
            font-size: 1.2rem;
            background-color: #ff6a00;
            border: solid #ff0000 1px;
            border-radius: 5px;
            color: #ffffff;
        }

            .spec p a:hover, .spec p a.select {
                background-color: #ce2828;
            }

.comment {
    display: block;
}


.buyhost {
    font-size: 20px;
    display: block;
    left: 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.buy {
    height: 60px;
    position: fixed;
    display: block;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #ffffff;
    border-top: solid #cbcbcb 1px;
    padding: 0px;
    background: #FAFAFA;
    background: linear-gradient(#FAFAFA,#F4F4F4);
    box-shadow: 0 -1px 0 rgba(0,0,0,.1) inset,0 -2px 8px rgba(0,0,0,.06);
}

    .buy .buy_l {
        float: left;
        height: 100%;
    }

        .buy .buy_l a {
            color: #222222;
            font-size: 1.3rem;
            line-height: 26px;
            height: 26px;
            display: block;
            padding: 0px 0px 0px 10px;
        }

            .buy .buy_l a.buy_amount span {
                color: #ff0000;
                font-weight:bold;
            }

    .buy .buy_r {
        float: right;
        padding: 5px 10px 5px 5px;
    }

        .buy .buy_r a {
            background: #ce2828;
            background: linear-gradient(#ce2828,#ce2228);
            box-shadow: none;
            text-shadow: none;
            color: #FFF;
            -moz-transition: all .3s ease;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            height: 50px;
            line-height: 50px;
            padding: 0px 10px 0px 10px;
            width: 120px;
            font-size: 18px;
            transition: none;
            -moz-transition: none;
            -webkit-transition: none;
            border-radius: 9px;
            display: block;
            text-align: center;
            cursor: pointer;
        }

        .buy_num,.buy_num_hid{
            display:block;
            height:auto;
            padding:0px;
            text-align:right;
        }
        .buy_num_hid{
            display:none;
        }
        .num{
            padding:0px 10px 0px 0px;
        }
        .num_box{
            display:inline-block;
            border:solid #d6d6d6 1px;
            border-radius:8px;
            margin:10px;
        }
        .num_box a.op{
            display:inline-block;
            height:30px;
            line-height:30px;
            color:#222222;
            padding:5px 20px 5px 20px;
           font-weight:bold;
            
        }
        .num_box a.nums{
            border-left:solid 1px #d6d6d6;
            border-right:solid 1px #d6d6d6;
            padding:0px 30px 0px 30px;
            color:#222222;
            height:30px;
            line-height:30px;
        }

        .lv{
            display:block;
            height:36px;
            line-height:36px;
            padding:0px 10px 0px 10px;
        }