.swiper-banner img {
    background-size: cover;
    width: auto;
    height: auto;
}

.merc_title {
    padding: 8px;
    height: 30px;
    line-height: 30px;
    padding-bottom: 0px;
    font-size: 1.6rem;
}

.sellpt {
    height: 30px;
    line-height: 30px;
    color: #cbcbcb;
}

    .sellpt, .sellpt span {
        padding-left: 10px;
        font-size: 1.2rem;
    }

.price {
    font-size: 2.0rem;
    height: 30px;
    line-height: 30px;
    color: #ff0000;
    font-weight: bold;
}

.price, price.span {
    padding-left: 10px;
}



.sellcount {
    height: 30px;
    line-height: 30px;
    padding-bottom: 8px; 
    color: #cbcbcb;
}

.sellcount, sellcount.span {
    padding-left: 10px;
}