@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    ViewBag.Title = "后台管理";
}

<div class="ManageRightTitle">
    <ol class="breadcrumb">
        <li><a href="#">后台管理</a></li>
        <li><a href="#" class="active">首页</a></li>
    </ol>
</div>
<div class="ManageRightContent">

</div>


