
@{
    ViewBag.Title = "我的任务";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <link href="@Url.Content("~/Css/Task/Base.css?v=20161025")" r r rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Css/Task/MyTask.css?v=20161025")" r rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Js/Task/Base.js?v=20161025")">

    </script>
    <script type="text/javascript" src="@Url.Content("~/Js/Task/MyTask.js?v=20161025")">

    </script>

}
<div id="order_host" class="order_host">


</div>
