body, html, * {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
    list-style: none;
    color: #222222;
    background: #f5f5f5;
    height: auto;
}


body {
    font-size: 1.4rem;
    height: auto;
}


a {
    color: #84a3e3;
    cursor: pointer;
    /*-moz-transition: all .15s ease-out;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
    text-decoration: none;
    background: #f0f0f0;
    background-color: rgba(240,240,240,.6);
    -webkit-tap-highlight-color: transparent;*/
}

    a, a img {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        box-sizing: border-box;
    }

input[type="text"] {
    -webkit-tap-highlight-color: transparent;
    background-color: #ffffff;
}

a:hover {
    color: #6b95ea;
}

a:active, a:hover {
    outline: 0;
}

a:active {
    background-color: transparent;
    /*-webkit-tap-highlight-color: #f5f5f5;*/
}

.T {
    font-size: 23px;
}

    .T .before {
        background: -webkit-linear-gradient(#000 50%,rgba(255,255,255,.1) 0);
        background: linear-gradient(#000 50%,rgba(255,255,255,.1) 0);
        display: block;
        height: 2px;
        width: 100%;
        opacity: .6;
        position: absolute;
        top: 0px;
        -webkit-transform-origin: center top;
        transform-origin: center top;
        z-index: 99999;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
    }



.TT {
    display: block;
    background: #1d1d1d;
    background-image: -webkit-linear-gradient(#1d1d1d,#181818);
    background-image: linear-gradient(#1d1d1d,#181818);
    height: 2.5em;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99998;
}

.C {
    font-size: 23px;
    padding-top: 2.5em;
    position: relative;
    display: block;
    height: auto;
}

.CC {
    position: relative;
    display: block;
    height: auto;
    font-size: 1.4rem;
}

.TL {
    float: right;
    margin-right: 10px;
    width: auto;
    text-align: right;
    display: block;
    height: 100%;
}

.Top_Menu, .Top_Menu_Back {
    float: left;
    height: 100%;
    width: 2.934em;
    transition: none;
}


    .Top_Menu span {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-image: url(../../Images/Com/menu.png);
        background-position: 0px 0px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .Top_Menu_Back span {
        background-image: url(../../Images/Com/nav-back-arrow.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        height: 100%;
        width: 1rem;
        margin: auto;
    }

.Top_User {
    display: inline-block;
    background: url(../../Images/Com/user.png) no-repeat 0 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0 0 0 .775em;
    width: 2.934em;
}

.Top_User_Real {
    background-size: cover;
}

.Top_Cart {
    display: inline-block;
    background: url(../../Images/Com/Cart.png) no-repeat 0 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0 0 0 .775rem;
    width: 2.934rem;
}



/*****************加载提示********************/
.RAMsgBg {
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    font-size: 0px;
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: .6;
    z-index: 99999;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.RAMsgHost * {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.RAMsgHost {
    position: fixed;
    top: 100px;
    z-index: 999999;
    width: 270px;
    left: 50%;
    margin: 0px auto auto -130px;
    display:none;
}

    .RAMsgHost .RAMsg {
        width: 260px;
        height: 30px;
        background-color: #F9EDBE;
        border: solid 1px #F0C36D;
        margin: auto;
        z-index: 999999;
        border-radius: 5px;
        display: block;
    }

        .RAMsgHost .RAMsg .Context span.load_ok {
            background-image: url(../../Images/Com/load_ok.png);
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 25px;
            display: inline-block;
        }

        .RAMsgHost .RAMsg .Context span.load_ing {
            background-image: url(../../Images/Com/load_ing.gif);
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 25px;
            display: inline-block;
        }

        .RAMsgHost .RAMsg .Context span.load_error {
            background-image: url(../../Images/Com/load_error.png);
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 25px;
            display: inline-block;
        }

        .RAMsgHost .RAMsg .Context {
            display: block;
            height: 30px;
            width: 265px;
            line-height: 30px;
            text-align: center;
            margin: auto;
        }

        .RAMsgHost .RAMsg a {
            display: none;
        }

a, a:hover {
    text-decoration: none;
    color: #fff;
}


.btn, input, input:focus {
    outline: none;
}




@-moz-keyframes loading_anim {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes loading_anim {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loading_anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes loading_anim /* Opera */
{
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.load_content .load_bg .load_block i {
    animation: loading_anim 1s infinite linear;
    -moz-animation: loading_anim 1s infinite linear; /* Firefox */
    -webkit-animation: loading_anim 1s infinite linear; /* Safari 和 Chrome */
    -o-animation: loading_anim 1s infinite linear;
}

@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1472024518_7584343.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1472024518_7584343.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1472024518_7584343.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1472024518_7584343.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1472024518_7584343.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont {
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
}

.nodata {
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    color: #666;
    padding-top: 30rem;
    width: 100%;
    background: url(../../Images/no_data_icon.png) no-repeat scroll center center;
}


/*VLine*/

.vline {
    border-top: solid #d6d6d6 1px;
    background-color: #d9d9d9;
    border-bottom: solid #d6d6d6 1px;
    display: block;
    height: 8px;
    font-size: 0px;
}

.title {
    padding: 0px 8px 0px 8px;
    line-height: 40px;
    height: 40px;
    border-bottom: solid #d6d6d6 1px;
}




.swiper-banner {
    text-align: center;
    height: 170px;
    overflow: hidden;
    position: relative;
}

.swiper-wrapper {
    background-color: #d9d9d9;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #d9d9d9;
}

.swiper-banner img {
    max-height: 170px;
    height: 100%;
    width: 100%;
    background: /*url(../../images/default_bg.png)*/ no-repeat scroll center center #d9d9d9;
    background-size: contain;
    max-width: 100%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

    .swiper-banner img.clear_bg {
        background-image: none;
    }

.swiper-banner .pagination {
    bottom: 10px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 200px;
    z-index: 20;
}

    .swiper-banner .pagination .swiper-pagination-bullet {
        background-color: #fff;
    }



span.loading_l, span.loading_c, span.load_error {
    display: block;
    color: #cbcbcb;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0px auto 30px auto;
    padding: 20px 0px 20px 0px;
}

.body_bg {
    background-color: #222222;
}

.Top_Main_Menu_Host {
    display: none;
    font-size: 23px;
    width: 100%;
    height: 100%;
}

.Top_Main_Menu {
    display: block;
    position: fixed;
    width: 100%;
    top: 2.5em;
    left: 0px;
    height: 100%;
    background-color: #222222;
    z-index: 999;
    font-size: 23px;
}

    .Top_Main_Menu ul {
        display: block;
        list-style: none;
        height: 2.5em;
        line-height: 2.5em;
    }

        .Top_Main_Menu ul li {
            list-style: none;
            height: 100%;
            border-top: solid #3B3B3B 1px;
        }

            .Top_Main_Menu ul li a {
                color: #ffffff;
                text-decoration: none;
                display: block;
                background-size: 0.5em;
                padding: 0px 0px 0px 20px;
                font-size: 1.4rem;
                position: relative;
            }

            .Top_Main_Menu ul li:hover {
                background-color: #2d2d2d;
            }

            .Top_Main_Menu ul li a:hover, .Top_Main_Menu ul li a:active {
                background-color: none;
            }

            .Top_Main_Menu ul li a span {
                background: url(../../Images/Com/arrow.png) no-repeat;
                background-size: contain;
                content: " ";
                height: .8rem;
                width: .4rem;
                opacity: .3;
                position: absolute;
                top: 50%;
                right: .8rem;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }




@font-face {
    font-family: 'iconfont';
    src: url('../Fonts/font_1469444055_0424716.eot'); /* IE9*/
    src: url('../Fonts/font_1469444055_0424716_iefix.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/font_1469444055_0424716.woff') format('woff'), /* chrome、firefox */
    url('../Fonts/font_1469444055_0424716.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../Fonts/font_1469444055_0424716_iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}



.iconfont {
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
}


/*************loading***********/



.load_content .load_bg, .msg_content .msg_bg, .pop_content .pop_bg {
    display: none;
    vertical-align: middle;
    margin: 260px auto auto auto;
}

    .load_content .load_bg .load_block, .msg_content .msg_bg .msg_block, .pop_content .pop_bg .pop_block {
        background: #000;
        display: inline-block;
        padding: 1rem;
        border-radius: 0.4rem;
    }

    .msg_content .msg_bg .msg_block {
        box-shadow: rgba(0,0,0,0.3) 0 0 0.2rem;
        background: #fff;
        max-width: 50%;
        overflow: hidden;
    }

    .pop_content .pop_bg .pop_block {
        box-shadow: rgba(0,0,0,0.3) 0 0 0.5rem;
        background: #282828;
        display: block;
        padding: 0;
        margin: 0 2rem;
        font-size: 1.4rem;
        max-height: 25rem;
        overflow-y: auto;
    }

    .load_content .load_bg .load_block i {
        width: 40px;
        height: 40px;
        display: inline-block;
        background: url(../../Images/Com/loading.png) no-repeat scroll 0 0;
        background-size: cover;
    }

    .load_content .load_bg .load_block p, .msg_content .msg_bg .msg_block p {
        line-height: 2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }




@-moz-keyframes loading_anim {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes loading_anim {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loading_anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes loading_anim /* Opera */
{
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.load_content .load_bg .load_block i {
    animation: loading_anim 1s infinite linear;
    -moz-animation: loading_anim 1s infinite linear; /* Firefox */
    -webkit-animation: loading_anim 1s infinite linear; /* Safari 和 Chrome */
    -o-animation: loading_anim 1s infinite linear;
}
