body, html, * {
    padding: 0px;
    margin: 0px;
}



/*****************加载提示********************/
.RAMsgHost {
    width: 100%;
    position: fixed;
    top: 10px;
    z-index: 999999;
}

    .RAMsgHost .RAMsg {
        width: 270px;
        height: 30px;
        background-color: #F9EDBE;
        border: solid 1px #F0C36D;
        margin: auto;
        z-index: 999999;
        border-radius: 5px;
        display: none;
    }

        .RAMsgHost .RAMsg .Context span.load_ok {
            background-image: url(../../Images/Com/load_ok.png);
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 25px;
            display: inline-block;
        }

        .RAMsgHost .RAMsg .Context span.load_ing {
            background-image: url(../../Images/Com/load_ing.gif);
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 25px;
            display: inline-block;
        }

        .RAMsgHost .RAMsg .Context span.load_error {
            background-image: url(../../Images/Com/load_error.png);
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 25px;
            display: inline-block;
        }

        .RAMsgHost .RAMsg .Context {
            display: block;
            height: 30px;
            width: 265px;
            line-height: 30px;
            text-align: center;
            margin: auto;
        }

        .RAMsgHost .RAMsg a {
            display: none;
        }



html {
    font-size: 62.5%;
    list-style: none;
    color: #222222;
}

body {
    font-size: 1.4rem;
    background: #f5f5f5;
}

a, a:hover {
    text-decoration: none;
    color: #fff;
}

h1, h2, h3, h3, h4, h5, h6 {
    font-weight: normal;
}

.btn, input, input:focus {
    outline: none;
}

.color_gray1 {
    color: #8b8b8b;
}

.color_red1 {
    color: #db4c3f;
}

.color_red2 {
    color: #ff7326;
}

.color_bule1 {
    color: #39ac6a;
}

.color_bule {
    color: #00ae66;
}

.header {
    background-color: #39ac6a;
    line-height: 4rem;
    width: 100%;
    color: #fff;
    font-size: 1.6rem;
}

    .header .back {
        border: 0.1rem solid #fff;
        width: 1.5rem;
        height: 1.5rem;
        display: block;
        border-width: 0.1rem 0 0 0.1rem;
        transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        float: left;
        margin-top: 1rem;
        margin-left: 1em;
    }

    .header .operate {
        float: right;
        font-size: 1.2rem;
        margin-right: 1rem;
    }

    .header .title {
        text-align: center;
    }

.content {
    min-height: calc(100vh - 4rem);
    overflow-y: auto;
    padding-bottom: 6rem;
}


.footer {
    background: #fff;
    border-top: 1px solid #e2e2e2;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 0;
}

    .footer a {
        width: 33.3333%;
        display: inline-block;
        float: left;
        text-align: center;
    }

        .footer a i {
            display: block;
            color: #b5b5b5;
            font-size: 2rem;
        }

        .footer a span {
            font-size: 1.2rem;
            color: #b5b5b5;
        }

        .footer a.active i, .footer a.active span {
            color: #00ae66;
        }

.load_content, .msg_content, .pop_content {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 100%;
    display: none;
    background: rgba(0,0,0,0.3);
    font-size: 1.2rem;
    color: #fff;
}

.msg_content {
    background: none;
    color: #333;
}

    .load_content .load_bg, .msg_content .msg_bg, .pop_content .pop_bg {
        display: table-cell;
        vertical-align: middle;
    }

        .load_content .load_bg .load_block, .msg_content .msg_bg .msg_block, .pop_content .pop_bg .pop_block {
            background: #000;
            display: inline-block;
            padding: 1rem;
            border-radius: 0.4rem;
        }

        .msg_content .msg_bg .msg_block {
            box-shadow: rgba(0,0,0,0.3) 0 0 0.2rem;
            background: #fff;
            max-width: 50%;
            overflow: hidden;
        }

        .pop_content .pop_bg .pop_block {
            box-shadow: rgba(0,0,0,0.3) 0 0 0.5rem;
            background: #282828;
            display: block;
            padding: 0;
            margin: 0 2rem;
            font-size: 1.4rem;
            max-height: 25rem;
            overflow-y: auto;
        }

        .load_content .load_bg .load_block i {
            width: 40px;
            height: 40px;
            display: inline-block;
            background: url(../../Images/icon_refresh_progress_white.png) no-repeat scroll 0 0;
            background-size: cover;
        }

        .load_content .load_bg .load_block p, .msg_content .msg_bg .msg_block p {
            line-height: 2rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }




@-moz-keyframes loading_anim {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes loading_anim {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loading_anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes loading_anim /* Opera */
{
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.load_content .load_bg .load_block i {
    animation: loading_anim 1s infinite linear;
    -moz-animation: loading_anim 1s infinite linear; /* Firefox */
    -webkit-animation: loading_anim 1s infinite linear; /* Safari 和 Chrome */
    -o-animation: loading_anim 1s infinite linear;
}

@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1472024518_7584343.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1472024518_7584343.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1472024518_7584343.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1472024518_7584343.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1472024518_7584343.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont {
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
}

.nodata {
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    color: #666;
    padding-top: 30rem;
    width: 100%;
    background: url(../../Images/no_data_icon.png) no-repeat scroll center center;
}


/*VLine*/

.vline {
    border-top: solid #d6d6d6 1px;
    background-color: #d9d9d9;
    border-bottom: solid #d6d6d6 1px;
    display: block;
    height: 8px;
    font-size: 0px;
}

.title {
    padding: 0px 8px 0px 8px;
    line-height: 40px;
    height: 40px;
    border-bottom: solid #d6d6d6 1px;
}
