
@{
    ViewBag.Title = "商品明细";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Head{
    <link href="@Url.Content("~/Css/Merc/Detail.css?v=20160920")" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="@Url.Content("~/Js/Merc/Detail.js?v=20160920")">
    </script>
}
<div class="swiper-banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @*<div class="swiper-slide">
                    <a href="#">
                        <img class="swiper-lazy" src="@Url.Content("~/Images/Home/1.jpg")" />
                    </a>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>*@
        </div>
        <div class="swiper-pagination">
        </div>
    </div>
</div>

<div class="merc_title">
    <span class="loading_l">加载中...</span>
</div>
<div class="sellpt">
    <span class="loading_l">加载中...</span>
</div>
<div class="price">
    <span class="loading_l">￥0.0</span>
</div>

<div class="sellcount">
    <span class="loading_l">销量：0</span>
</div>
<div class="vline"></div>
<div class="spec-title">套餐：</div>
<div class="spec">
    <span class="loading_l">加载中...</span>
</div>
<div id="buy_num" class="buy_num_hid">
    <div class="vline"></div>
    <div class="num">
        数量:<div class="num_box">
            <a href="javascript:void(0)" class="op" onclick="opSpecNum(-1)">-</a>
            <a href="javascript:void(0)" id="nums" class="nums">1</a>
            <a href="javascript:void(0)" class="op" onclick="opSpecNum(1)">+</a>
        </div>
    </div>
</div>

<div id="buy_lv" class="buy_num_hid">
    <div class="vline"></div>
    <div class="lv" id="lv">
        
    </div>
</div>

<div class="vline"></div>

<div class="spec-title">评价：</div>
<div class="comment">
    <span class="load_error">暂无评价</span>
</div>
<div style="display:block; height:60px;"></div>
<div class="buyhost">
    <div class="buy">
        <div class="buy_l">

            <a href="javascript:void(0)" class="buy_spec">已选择：</a>
            <a href="javascript:void(0)" id="buy_amount" class="buy_amount">应付金额：<span class="amount">￥ 0.00</span></a>
        </div>
        <div class="buy_r"><a href="javascript:void(0)" class="go_buy" onclick="save()">购买</a></div>
    </div>
</div>

