
@{
    ViewBag.Title = "商品明细";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using Util
@section Head{
    <link href="@Pub.C("~/Css/Merc/Detail.css?v20160827")" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="@Pub.C("~/Js/Merc/Detail.js?v20160827")">
    </script>
}
<div class="swiper-banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @*<div class="swiper-slide">
                    <a href="#">
                        <img class="swiper-lazy" src="@Pub.C("~/Images/Home/1.jpg")" />
                    </a>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>*@
        </div>
        <div class="swiper-pagination">
        </div>
    </div>
</div>

<div class="merc_title">
    <span class="loading_l">加载中...</span>
</div>
<div class="sellpt">
    <span class="loading_l">加载中...</span>
</div>
<div class="price">
    <span class="loading_l">￥0.0</span>
</div>

<div class="sellcount">
    <span class="loading_l">销量：0</span>
</div>
<div class="vline"></div>
<div style="display:block; height:60px;"></div>

