body, html {
    padding: 0px;
    margin: 0px;
    height: auto;
}

div.file-drop-zone.clickable:hover, div.file-drop-zone.clickable:focus {
    border: none;
}

div.file-preview-frame:hover:not(.file-preview-error) {
    box-shadow: 1px 1px 5px 0 #a2958a;
}

div span.file-drag-handle {
    display: none;
}

div.file-drop-zone {
    border: none;
    margin: 0px;
}

div.file-preview {
    padding-bottom: 10px;
}
/*****************加载提示********************/
.RAMsgHost {
    width: 100%;
    position: fixed;
    top: 10px;
    z-index: 999999;
}

    .RAMsgHost .RAMsg {
        width: 270px;
        height: 30px;
        background-color: #F9EDBE;
        border: solid 1px #F0C36D;
        margin: auto;
        z-index: 999999;
        border-radius: 5px;
        display: none;
    }

        .RAMsgHost .RAMsg .Context span.load_ok {
            background-image: url(../../Images/Com/load_ok.png);
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 25px;
            display: inline-block;
        }

        .RAMsgHost .RAMsg .Context span.load_ing {
            background-image: url(../../Images/Com/load_ing.gif);
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 25px;
            display: inline-block;
        }

        .RAMsgHost .RAMsg .Context span.load_error {
            background-image: url(../../Images/Com/load_error.png);
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 25px;
            display: inline-block;
        }

        .RAMsgHost .RAMsg .Context {
            display: block;
            height: 30px;
            width: 265px;
            line-height: 30px;
            text-align: center;
            margin: auto;
        }

        .RAMsgHost .RAMsg a {
            display: none;
        }




* {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #459ae9;
}

.submitBtn, .cancelBtn {
    padding: 0 22px;
    border-radius: 3px;
    background: none;
    border: none;
    height: 30px;
    margin: 10px;
    background-color: #fff;
}

.cancelBtn {
    border: 1px solid #e7e7eb;
}

    .cancelBtn:hover {
        background-color: #e7e7eb;
        border-color: #dadbe0;
    }

.submitBtn {
    background-color: #44b549;
    color: #fff;
}

    .submitBtn:hover {
        background-color: #2f9833;
    }

body {
    background: #e7e8eb none repeat scroll 0 0;
    color: #222;
    line-height: 1.6;
    list-style: none;
    min-width: 1200px;
    font-size: 14px;
}

.head_box {
    background-color: #fff;
    border-bottom: 1px solid #d9dadc;
    border-top: 4px solid #44b549;
    position: relative;
}

    .head_box .inner.wrp {
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
        height: 60px;
    }

.logo {
    float: left;
    font-size: 24px;
    padding-top: 10px;
}

    .logo a {
        width: 248px;
        height: 40px;
        display: inline-block;
        background: url(../../Images/Manage/bg_logo2491a6.png) no-repeat scroll 0 0;
    }

.contenter {
    margin: 0 auto;
    padding: 36px 0 88px;
    width: 1200px;
}

    .contenter .contenter_box {
        background-color: #fff;
        border: 1px solid #d9dadc;
    }


        .contenter .contenter_box .col_side, .contenter .contenter_box .col_main {
            display: table-cell;
            vertical-align: top;
            word-break: break-all;
            word-wrap: break-word;
        }

        .contenter .contenter_box .col_side {
            max-width: 208px;
            width: 17.5%;
            min-width: 200px;
            overflow: hidden;
            border-right: 1px solid #e7e7eb;
        }

            .contenter .contenter_box .col_side dl {
                line-height: 35px;
                border-top: 1px solid #e7e7eb;
                padding: 6px 0;
            }

                .contenter .contenter_box .col_side dl:first-child {
                    border: none;
                }

                .contenter .contenter_box .col_side dl dt {
                    color: #8d8d8d;
                    overflow: hidden;
                    padding: 0 30px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: auto;
                    word-wrap: normal;
                }

                    .contenter .contenter_box .col_side dl dt i {
                        margin-right: 10px;
                        margin-top: -0.2rem;
                        display: inline-block;
                        height: 18px;
                        vertical-align: middle;
                        width: 18px;
                        color: #8d8d8d;
                        white-space: nowrap;
                        word-wrap: normal;
                    }

                        .contenter .contenter_box .col_side dl dt i.m {
                            background: url(../../Images/Manage/icon_menu_management.png) no-repeat scroll 0 0;
                        }

                        .contenter .contenter_box .col_side dl dt i.f {
                            background: url(../../Images/Manage/icon_menu_function.png) no-repeat scroll 0 0;
                        }



                .contenter .contenter_box .col_side dl dd a {
                    color: #222;
                    display: block;
                    overflow: hidden;
                    padding: 0 0 0 58px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: auto;
                    word-wrap: normal;
                }

                    .contenter .contenter_box .col_side dl dd a:hover {
                        background-color: #f4f5f9;
                    }

                    .contenter .contenter_box .col_side dl dd a.selected {
                        background-color: #44b549;
                        color: #fff;
                    }

        .contenter .contenter_box .col_main {
            width: 2000px;
            padding-bottom: 20px;
        }

            .contenter .contenter_box .col_main .main_hd {
                line-height: 40px;
                padding: 20px;
                border-bottom: 1px solid #e7e7eb;
            }

            .contenter .contenter_box .col_main .main_bd {
                padding: 20px;
                overflow: hidden;
            }

                .contenter .contenter_box .col_main .main_bd input[type="button"] {
                }

            .contenter .contenter_box .col_main .main_ft {
                padding: 10px;
                text-align: center;
            }

.footer {
    background-color: #b8b9b9;
    color: #f1f1f1;
    padding: 24px 0;
    text-align: center;
    font-size: 12px;
}

    .footer ul li {
        border-left: 1px solid #d9dadc;
        display: inline-block;
        line-height: 1em;
        padding: 0 1em;
    }

        .footer ul li:first-child {
            border: none;
        }

        .footer ul li a {
            color: #f1f1f1;
        }




#maskLayout {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
}


.item select {
    width: 141px;
}

.loginBox {
    width: 300px;
    margin: 10px auto;
}


.T {
    display: block;
    background-image: url(../../Images/Manage/headerbg4.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999999;
}

.TL {
    float: left;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    padding: 0px 0px 0px 20px;
}

.TR {
    float: right;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    padding: 0px 10px 0px 0px;
}

    .TR a {
        color: #ffffff;
        text-decoration: none;
        margin: 0px 10px 0px 10px;
        display: inline-block;
        padding: 0px 10px 0px 10px;
    }

.C {
    display: block;
    width: 100%;
    position: absolute;
    right: 0px;
    top: 50px;
    bottom: 0px;
    overflow: auto;
}

.manageLeft {
    min-width: 220px;
    width: 220px;
    /*width: 19.9%;*/
    /*float: left;*/
    padding: 10px;
    position: fixed;
    left: 0px;
    top: 50px;
    bottom: 0px;
    background-color: #d9d9d9;
    overflow:auto;
}

.manageRight {
    /*min-width: 1200px;*/
    /*width: 79.9%;*/
    position: absolute;
    left: 220px;
    right: 0px;
    top: 0px;
    /*width: 100%;*/
    height: auto;
    /*min-height: 1000px;*/
    padding: 10px 10px 8px 10px;
    overflow: auto;
    margin-bottom: 80px;
}

.ManageRightTitle {
    display: block;
    height: 50px;
}

.ManageRightContent {
    display: block;
    height: auto;
    /*min-height: 950px;*/
}

.panel-default > .panel-heading {
    background-color: #337ab7;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}

.embed-responsive-item {
    width: 102%;
    height: 900px;
    border: 0px;
}

.merc-edit-box {
    width: 850px;
}

.form-group div.datetime_picker {
    padding-left: 15px;
}



table, .table {
    min-width: unset;
    width: auto;
    table-layout: fixed;
    word-wrap: break-word;
}

    table tr td, .table tr td, table thead tr th, .table thead tr th {
        width: auto;
        word-wrap: break-word;
        white-space: nowrap;
    }

    table thead tr th, .table thead tr th {
        white-space: nowrap;
        vertical-align: middle;
        text-align: center;
    }

span.input-group-addon span.glyphicon-remove {
    display: none;
}

.manageLeft a:hover, a.select {
    color: #337ab7;
}

.userSearchResults {
    margin-top: 15px;
}

.modal .modal-dialog {
    margin: 90px auto;
}

.smallMercImage {
    width: 80px;
    height:80px;
    outline:none;
}

.seperate_line {
    border-bottom: 1px solid #ddd;
}
