.device {
    border: 1px solid #e7e7eb;
    height: 580px;
    position: relative;
    width: 320px;
    float: left;
    margin-right: 10px;
    background: url(../../Images/Manage/bg_mobile_head.png) no-repeat scroll 0 0;
}

    .device .menu {
        position: absolute;
        bottom: 0;
        left: 0;
        line-height: 50px;
        border-top: 1px solid #e7e7eb;
        background: url(../../Images/Manage/bg_mobile_foot.png) no-repeat scroll 0 0;
        width: 320px;
        height: 50px;
    }

        .device .menu ul {
            padding-left: 43px;
        }

            .device .menu ul li {
                list-style: none;
                float: left;
                width: 100%;
                text-align: center;
                cursor: pointer;
                color: #616161;
                border-right: 1px solid #e7e7eb;
                box-sizing: border-box;
            }

                .device .menu ul li.selected {
                    border: 1px solid #44b549;
                }

                .device .menu ul li:last-child {
                    border-width: 0;
                }

                .device .menu ul li.of3:last-child {
                    border-width: 1px;
                }

                .device .menu ul li.of2 {
                    width: 50%;
                }

                .device .menu ul li.of3 {
                    width: 33.33%;
                }

                .device .menu ul li .add_icon, .device .subMenu ul li .add_icon {
                    margin-right: 5px;
                    display: inline-block;
                    height: 14px;
                    margin-top: -2px;
                    vertical-align: middle;
                    width: 14px;
                    background: url(../../Images/Manage/index_z2a7519.png) no-repeat scroll 0 0;
                }

    .device .subMenu {
        position: absolute;
        bottom: 60px;
        left: 43px;
        width: 277px;
    }

        .device .subMenu .subMenuBox {
            position: relative;
            display: none;
        }

            .device .subMenu .subMenuBox.of2 {
                width: 50%;
            }

            .device .subMenu .subMenuBox.of3 {
                width: 33.33%;
            }

            .device .subMenu .subMenuBox ul {
                overflow: hidden;
                border: 1px solid #e7e7eb;
            }

                .device .subMenu .subMenuBox ul li {
                    line-height: 50px;
                    height: 50px;
                    text-align: center;
                    border-bottom: 1px solid #e7e7eb;
                    cursor: pointer;
                }

                    .device .subMenu .subMenuBox ul li:last-child {
                        border-bottom: none;
                    }

                    .device .subMenu .subMenuBox ul li.selected {
                        border: 1px solid #44b549;
                    }

            .device .subMenu .subMenuBox span {
                line-height: 0;
                position: absolute;
                left: 50%;
                margin-left: -6px;
                width: 0;
                vertical-align: super;
                height: 0;
                display: inline-block;
                border: 6px solid #d0d0d0;
                border-color: #d6d6d6 transparent transparent transparent;
            }

.edit {
    overflow: hidden;
    background-color: #f4f5f9;
    border: 1px solid #e7e7eb;
}

    .edit .item {
        margin: 10px;
        padding: 10px;
    }

        .edit .item.title {
            border-bottom: 1px solid #e7e7eb;
        }

            .edit .item.title a {
                float: right;
            }

        .edit .item p {
            color: #8d8d8d;
            padding-left: 70px;
        }

        .edit .item input[type="text"], .edit .item select {
            border: 1px solid #ddd;
            line-height: 22px;
            padding: 2px;
        }

        .edit .item.detail_content {
            background-color: #fff;
            border: 1px solid #e7e7eb;
        }

            .edit .item.detail_content .msg_content {
                width: 320px;
                border: 1px solid #e7e7eb;
                margin: 10px;
                padding: 10px;
                display: none;
                position: relative;
            }

            .edit .item.detail_content .item {
                margin: 0;
                padding: 0;
            }

            .edit .item.detail_content h3 {
                font-weight: normal;
                border-bottom: 1px solid #e7e7eb;
                line-height: 30px;
            }

            .edit .item.detail_content .msg_bd {
                overflow: hidden;
            }

            .edit .item.detail_content .media_cover {
                border: 2px dashed #e7e7eb;
                width: 240px;
                margin: 20px;
                text-align: center;
            }

                .edit .item.detail_content .media_cover .create_access {
                    padding: 42px 0;
                    display: inline-block;
                }

                    .edit .item.detail_content .media_cover .create_access a {
                        outline: none;
                    }

                    .edit .item.detail_content .media_cover .create_access .icon_add {
                        display: inline-block;
                        height: 36px;
                        vertical-align: middle;
                        width: 36px;
                        background: url("../../Images/Manage/base_z2b638f.png") no-repeat scroll 0 -2960px;
                    }

                    .edit .item.detail_content .media_cover .create_access b {
                        display: block;
                        color: #8d8d8d;
                        font-weight: normal;
                    }

.popWindow {
    display: none;
    width: 960px;
    height: 600px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -480px;
    margin-top: -300px;
    background-color: #fff;
    z-index: 999;
    overflow: auto;
}

    .popWindow .dialog_hd {
        background-color: #f4f5f9;
        line-height: 50px;
        padding: 0 20px;
    }

        .popWindow .dialog_hd h3 {
            font-weight: normal;
        }

        .popWindow .dialog_hd a {
            float: right;
        }

    .popWindow .dialog_bd {
        height: 500px;
        overflow-y: auto;
    }

    .popWindow ul {
    }

        .popWindow ul li {
            padding: 10px;
            border: 1px solid #e7e7eb;
            width: 30%;
            overflow: hidden;
            float: left;
            margin: 10px;
            position: relative;
        }

            .popWindow ul li:hover {
            }

            .popWindow ul li .title, .edit .item.detail_content .title {
                position: relative;
            }

                .popWindow ul li .title img, .edit .item.detail_content .title img {
                    background-size: cover;
                    max-height: 160px;
                    width: 100%;
                }

                .popWindow ul li .title p, .edit .item.detail_content .title p {
                    position: absolute;
                    bottom: 0;
                    color: #fff;
                    width: 100%;
                    line-height: 30px;
                    background: rgba(0,0,0,0.5);
                    padding: 0 10px;
                    box-sizing: padding-box;
                }

            .popWindow ul li .item, .edit .item.detail_content .item {
                overflow: hidden;
                margin-top: 10px;
                border-top: 1px solid #e7e7eb;
            }

                .popWindow ul li .item span, .edit .item.detail_content .item span {
                    padding-top: 30px;
                    display: table-cell;
                }

                .popWindow ul li .item img, .edit .item.detail_content .item img {
                    float: right;
                    width: 78px;
                    height: 78px;
                    margin-top: 10px;
                }

            .popWindow ul li .msg_mask, .edit .item.detail_content .msg_content .msg_mask {
                position: absolute;
                background: rgba(0,0,0,0.7);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: none;
                cursor: pointer;
            }

                .popWindow ul li .msg_mask i, .edit .item.detail_content .msg_content .msg_mask i {
                    left: 50%;
                    line-height: 999em;
                    margin-left: -23px;
                    margin-top: -23px;
                    overflow: hidden;
                    position: absolute;
                    top: 50%;
                    z-index: 1;
                    background: url("../.../Images/Manage/base_z2b638f.png") no-repeat scroll 0 -6551px;
                    display: inline-block;
                    height: 46px;
                    vertical-align: middle;
                    width: 46px;
                }

                .edit .item.detail_content .msg_content .msg_mask i {
                    background-position: 0 -6690px;
                }

    .popWindow .dialog_ft {
        height: 50px;
        text-align: center;
        background-color: #f4f5f9;
        line-height: 50px;
        padding: 0 20px;
    }
