
@{
    ViewBag.Title = "周边商圈";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <link href="@Url.Content("~/Css/Buss/Index.css?v=20160920")" r rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="@Url.Content("~/Js/Buss/Index.js?v=20160920")">

    </script>

}
<div id="buss_host" class="buss_host">
    <span class="loading_c">加载中...</span>
    @*<div class="buss_item">
        <a href="#" id="buss" class="buss">
            <div class="buss_l">
                <img id="ico" />
            </div>
            <div class="buss_c">
                <span id="buss_title">商家...</span>
                <span id="buss_price">价格...</span>
            </div>
        </a>

        <div class="buss_addr_host">
            <a href="javascript:void(0)"><span id="buss_addr"><i class="iconfont">&#xe615</i>地址...</span></a>
        </div>

    </div>*@

</div>
