@{

    Layout = null;
}
<link href="@Url.Content("~/Css/Addr/Addr.css?v=20161025")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Js/Addr/distpicker.min.js?v=20161025")"></script>
<script type="text/javascript" src="@Url.Content("~/Js/Addr/Addr.js?v=20161025")"></script>


<div class="Add_C">
    <div class="Addr_List">
        <span class="loading_c">加载中...</span>
    </div>
    <div class="Addr_Op">

        <a id="delAddr" class="iconfont" href="javascript:void(0)" onclick="delAddr()">&#xe603;</a>
        <a id="Addr_Op" class="save" href="javascript:void(0)" onclick="opAddr()">新增</a>
    </div>

    <div class="Addr_Edit">
        <div class="Edit_Item">
            <div class="Edit_Name">姓名:</div>
            <div class="Edit_Value">
                <div class="in">
                    <input id="contact" type="text" maxlength="25" placeholder="输入姓名..." />
                </div>
            </div>
        </div>
        <div class="Edit_Item">
            <div class="Edit_Name">电话:</div>
            <div class="Edit_Value">
                <div class="in">
                    <input id="phone" type="tel" maxlength="13" placeholder="输入电话..." />
                </div>
            </div>
        </div>

        <div class="Edit_Item">
            <div class="Edit_Name">地址:</div>
            <div class="Edit_Value">
                <div id="distpicker" class="addr_box">
                    <select id="province"><option>—— 省 ——</option></select>
                    <select id="city"><option>—— 市 ——</option></select>
                    <select id="district"><option>—— 区 ——</option></select>
                </div>
            </div>
        </div>

        <div class="Edit_Item">
            <div class="Edit_Name">街道:</div>
            <div class="Edit_Value">
                <div class="in">
                    <input id="street" type="text" maxlength="80" required placeholder="输入街道..." />
                </div>
            </div>
        </div>

        <div class="Edit_Item">
            <div class="Edit_Name">标识:</div>
            <div class="Edit_Value">
                <div class="in">
                    <input id="tag" type="text" maxlength="10" placeholder="输入公司/家庭..." />
                </div>
            </div>
        </div>

        <div class="Edit_Item">
            <div class="Edit_Name">备注:</div>
            <div class="Edit_Value">
                <div class="in">
                    <input id="notes" type="text" maxlength="25" placeholder="输入备注..." />
                </div>
            </div>
        </div>

        <div class="Edit_Item">
            <div class="Edit_Name">默认:</div>
            <div class="Edit_Value">
                <div class="ck">
                    <input id="isdv" type="checkbox" />
                </div>
            </div>
        </div>
    </div>
</div>

