body {
}

.Title {
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
    height: 60px;
    line-height: 60px;
    border-bottom: dotted #d6d6d6 1px;
    color: #222222;
}


.Time {
    padding: 5px 0px 5px 10px;
    height: 20px;
    line-height: 20px;
    color: #757575;
}

.Content {
    display: block;
    padding: 8px;
    color: #222222;
    position: relative;
}


.sp {
    display: block;
    height: 45px;
}
